<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p class="m-4">غير مصرح بالدخول. الرجاء تسجيل الدخول.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="m-4">الصفحة غير موجودة.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
